.details-container {
  padding-top: 104px;
  .main-content{
    flex: 2;
    margin-inline-end: 30px;
  }
 
}
@include for-mobile-layout{
  .main-content-container{
    margin-top: 104px;
  }
  .details-container{
  padding-top: 0px;

  }
}