
// COLOR PALETTE

$clr1: #ce2e6c;
$btn-color: #FC355B;
$secondary-font:#c7c5c5;
// LAYOUT BREAKPOINTS

$break-narrow: 500px;
$break-normal: 700px;
$break-wide: 1100px;
$break-ultra-wide: 1600px;
$main-layout:1350px


