.space-preview.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: rem(10px);
    img {
        width: 100%;
        border-radius: 10px;
    }
}