.space-list {
    display: grid;
    grid-template-columns:
        minmax(2rem, 1fr)
        minmax(auto, 1200px)
        minmax(2rem, 1fr);

    > * {
        grid-column: 2;
    }
    .card-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        grid-auto-flow: dense;
        gap: 20px;
    }
}
