.space-list {
    // .card-container {
    //     display: grid;
    //     grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    //     grid-auto-flow: dense;
    //     gap: 20px;
    // }
    .card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img {
            height: 160px;
            width: 240px;
            border-radius: 10px;
        }
    }
}
